/* add fonts for storybook */
@font-face {
  font-family: 'IranSharp';
  font-style: normal;
  font-weight: bold;
  src:
    url('../docs/assets/fonts/iransharp_bold_web.woff2') format("woff2"),
    url('../docs/assets/fonts/iransharp_bold_web.woff') format("woff");
}
@font-face {
  font-family: 'IranSharp';
  font-style: normal;
  font-weight: 300;
  src:
    url('../docs/assets/fonts/iransharp_regular_web.woff2') format("woff2"),
    url('../docs/assets/fonts/iransharp_regular_web.woff') format("woff");
}
@font-face {
  font-family: 'Jupiterico';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../docs/assets/fonts/icomoon.woff') format("woff");
}

@font-face {
  font-family: 'JupiterfilesImgs';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../docs/assets/fonts/filesImgs.woff') format("woff");
}

body {
  direction: rtl;
}

* {
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
};

/* show-info page should be ltr and show-info button doesnt cover the main component page*/
.info__overlay {
  direction: ltr;
}
.sb-show-main {
	margin-top: 35px;
}
