@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qlh5w7');
  src:  url('fonts/icomoon.eot?qlh5w7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qlh5w7') format('truetype'),
    url('fonts/icomoon.woff?qlh5w7') format('woff'),
    url('fonts/icomoon.svg?qlh5w7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom_out:before {
  content: "\e900";
}
.icon-zoom_in:before {
  content: "\e901";
}
.icon-today:before {
  content: "\e902";
}
.icon-assessment:before {
  content: "\e903";
}
.icon-aspect_ratio:before {
  content: "\e904";
}
.icon-alarm_on:before {
  content: "\e905";
}
.icon-alarm_off:before {
  content: "\e906";
}
.icon-watch_later:before {
  content: "\e907";
}
.icon-touch_app:before {
  content: "\e908";
}
.icon-exit_to_app:before {
  content: "\e909";
}
.icon-event_seat:before {
  content: "\e90a";
}
.icon-event:before {
  content: "\e90b";
}
.icon-description:before {
  content: "\e90c";
}
.icon-delete_outline:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e90e";
}
.icon-credit_card:before {
  content: "\e90f";
}
.icon-copyright:before {
  content: "\e910";
}
.icon-commute:before {
  content: "\e911";
}
.icon-code:before {
  content: "\e912";
}
.icon-check_circle_outline:before {
  content: "\e913";
}
.icon-check_circle:before {
  content: "\e914";
}
.icon-card_giftcard:before {
  content: "\e915";
}
.icon-calendar_today:before {
  content: "\e916";
}
.icon-build:before {
  content: "\e917";
}
.icon-alarm_add:before {
  content: "\e918";
}
.icon-alarm:before {
  content: "\e919";
}
.icon-account_circle:before {
  content: "\e91a";
}
.icon-account_box:before {
  content: "\e91b";
}
.icon-account_balance_wallet:before {
  content: "\e91c";
}
.icon-view_carousel:before {
  content: "\e91d";
}
.icon-update:before {
  content: "\e91e";
}
.icon-query_builder:before {
  content: "\e91f";
}
.icon-print:before {
  content: "\e920";
}
.icon-perm_identity:before {
  content: "\e921";
}
.icon-perm_contact_calendar:before {
  content: "\e922";
}
.icon-info:before {
  content: "\e923";
}
.icon-home:before {
  content: "\e924";
}
.icon-history-1:before {
  content: "\e925";
}
.icon-highlight_off:before {
  content: "\e926";
}
.icon-help_outline:before {
  content: "\e927";
}
.icon-help:before {
  content: "\e928";
}
.icon-get_app:before {
  content: "\e929";
}
.icon-fingerprint:before {
  content: "\e92a";
}
.icon-favorite_border:before {
  content: "\e92b";
}
.icon-favorite:before {
  content: "\e92c";
}
.icon-bookmark_border:before {
  content: "\e92d";
}
.icon-bookmarks:before {
  content: "\e92e";
}
.icon-bookmark:before {
  content: "\e92f";
}
.icon-backup:before {
  content: "\e930";
}
.icon-autorenew:before {
  content: "\e931";
}
.icon-assignment_ind:before {
  content: "\e932";
}
.icon-assignment:before {
  content: "\e933";
}
.icon-work_outline:before {
  content: "\e934";
}
.icon-verified_user:before {
  content: "\e935";
}
.icon-theaters:before {
  content: "\e936";
}
.icon-supervisor_account:before {
  content: "\e937";
}
.icon-supervised_user_circle:before {
  content: "\e938";
}
.icon-shopping_cart:before {
  content: "\e939";
}
.icon-settings_ethernet:before {
  content: "\e93a";
}
.icon-settings_applications:before {
  content: "\e93b";
}
.icon-setting:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-restore:before {
  content: "\e93e";
}
.icon-report_problem:before {
  content: "\e93f";
}
.icon-question_answer:before {
  content: "\e940";
}
.icon-offline_pin:before {
  content: "\e941";
}
.icon-note_add:before {
  content: "\e942";
}
.icon-loyalty:before {
  content: "\e943";
}
.icon-lock_open:before {
  content: "\e944";
}
.icon-lock:before {
  content: "\e945";
}
.icon-language:before {
  content: "\e946";
}
.icon-hourglass_full:before {
  content: "\e947";
}
.icon-hourglass_empty:before {
  content: "\e948";
}
.icon-dashboard:before {
  content: "\e949";
}
.icon-zoom_out_map:before {
  content: "\e94a";
}
.icon-work_off:before {
  content: "\e94b";
}
.icon-work:before {
  content: "\e94c";
}
.icon-visibility_off:before {
  content: "\e94d";
}
.icon-visibility:before {
  content: "\e94e";
}
.icon-thumb_up:before {
  content: "\e94f";
}
.icon-thumb_down:before {
  content: "\e950";
}
.icon-stay_current_landscape:before {
  content: "\e951";
}
.icon-share:before {
  content: "\e952";
}
.icon-remove_circle:before {
  content: "\e953";
}
.icon-playlist_add:before {
  content: "\e954";
}
.icon-headset:before {
  content: "\e955";
}
.icon-check_box:before {
  content: "\e956";
}
.icon-cancel:before {
  content: "\e957";
}
.icon-call:before {
  content: "\e958";
}
.icon-cake:before {
  content: "\e959";
}
.icon-bluetooth:before {
  content: "\e95a";
}
.icon-attachment:before {
  content: "\e95b";
}
.icon-apps:before {
  content: "\e95c";
}
.icon-add_a_photo:before {
  content: "\e95d";
}
.icon-add:before {
  content: "\e95e";
}
.icon-warning:before {
  content: "\e95f";
}
.icon-thumb_down_alt:before {
  content: "\e960";
}
.icon-stay_current_portrait:before {
  content: "\e961";
}
.icon-remove_circle_outline:before {
  content: "\e962";
}
.icon-playlist_add_check:before {
  content: "\e963";
}
.icon-place:before {
  content: "\e964";
}
.icon-mood:before {
  content: "\e965";
}
.icon-loop:before {
  content: "\e966";
}
.icon-headset_mic:before {
  content: "\e967";
}
.icon-error:before {
  content: "\e968";
}
.icon-equalizer:before {
  content: "\e969";
}
.icon-cloud:before {
  content: "\e96a";
}
.icon-check_box_outline_blank:before {
  content: "\e96b";
}
.icon-check:before {
  content: "\e96c";
}
.icon-call_end:before {
  content: "\e96d";
}
.icon-bluetooth_connected:before {
  content: "\e96e";
}
.icon-arrow_back:before {
  content: "\e96f";
}
.icon-add_photo_alternate:before {
  content: "\e970";
}
.icon-add_box:before {
  content: "\e971";
}
.icon-add_alert:before {
  content: "\e972";
}
.icon-vpn_key:before {
  content: "\e973";
}
.icon-volume_up:before {
  content: "\e974";
}
.icon-volume_off:before {
  content: "\e975";
}
.icon-volume_mute:before {
  content: "\e976";
}
.icon-volume_down:before {
  content: "\e977";
}
.icon-textsms:before {
  content: "\e978";
}
.icon-sort_by_alpha:before {
  content: "\e979";
}
.icon-play_circle_outline:before {
  content: "\e97a";
}
.icon-play_circle_filled:before {
  content: "\e97b";
}
.icon-play_arrow:before {
  content: "\e97c";
}
.icon-playlist_play:before {
  content: "\e97d";
}
.icon-pause_circle_outline:before {
  content: "\e97e";
}
.icon-not_interested:before {
  content: "\e97f";
}
.icon-notification_important:before {
  content: "\e980";
}
.icon-note:before {
  content: "\e981";
}
.icon-mic_off:before {
  content: "\e982";
}
.icon-mic_none:before {
  content: "\e983";
}
.icon-mic:before {
  content: "\e984";
}
.icon-mail_outline:before {
  content: "\e985";
}
.icon-location_on:before {
  content: "\e986";
}
.icon-error_outline:before {
  content: "\e987";
}
.icon-where_to_vote:before {
  content: "\e988";
}
.icon-send:before {
  content: "\e989";
}
.icon-outlined_flag:before {
  content: "\e98a";
}
.icon-mail:before {
  content: "\e98b";
}
.icon-location_off:before {
  content: "\e98c";
}
.icon-link_off:before {
  content: "\e98d";
}
.icon-link:before {
  content: "\e98e";
}
.icon-import_contacts:before {
  content: "\e98f";
}
.icon-gps_off:before {
  content: "\e990";
}
.icon-forum:before {
  content: "\e991";
}
.icon-email:before {
  content: "\e992";
}
.icon-drafts:before {
  content: "\e993";
}
.icon-dialpad:before {
  content: "\e994";
}
.icon-delete_sweep:before {
  content: "\e995";
}
.icon-create:before {
  content: "\e996";
}
.icon-chat_bubble:before {
  content: "\e997";
}
.icon-chat:before {
  content: "\e998";
}
.icon-block:before {
  content: "\e999";
}
.icon-add_circle_outline:before {
  content: "\e99a";
}
.icon-add_circle:before {
  content: "\e99b";
}
.icon-thumb_up_alt:before {
  content: "\e99c";
}
.icon-mood_bad:before {
  content: "\e99d";
}
.icon-indeterminate_check_box:before {
  content: "\e99e";
}
.icon-gps_not_fixed:before {
  content: "\e99f";
}
.icon-gps_fixed:before {
  content: "\e9a0";
}
.icon-cloud_upload:before {
  content: "\e9a1";
}
.icon-cloud_queue:before {
  content: "\e9a2";
}
.icon-cloud_off:before {
  content: "\e9a3";
}
.icon-cloud_download:before {
  content: "\e9a4";
}
.icon-cloud_done:before {
  content: "\e9a5";
}
.icon-cloud_circle:before {
  content: "\e9a6";
}
.icon-chevron_left:before {
  content: "\e9a7";
}
.icon-bluetooth_searching:before {
  content: "\e9a8";
}
.icon-bluetooth_disabled:before {
  content: "\e9a9";
}
.icon-watch:before {
  content: "\e9aa";
}
.icon-tv:before {
  content: "\e9ab";
}
.icon-tablet_android:before {
  content: "\e9ac";
}
.icon-tablet:before {
  content: "\e9ad";
}
.icon-smartphone:before {
  content: "\e9ae";
}
.icon-keyboard_voice:before {
  content: "\e9af";
}
.icon-crop_rotate:before {
  content: "\e9b0";
}
.icon-arrow_backward_ios:before {
  content: "\e9b1";
}
.icon-radio_button_unchecked:before {
  content: "\e9b2";
}
.icon-radio_button_checked:before {
  content: "\e9b3";
}
.icon-ondemand_video:before {
  content: "\e9b4";
}
.icon-notifications_active:before {
  content: "\e9b5";
}
.icon-notifications:before {
  content: "\e9b6";
}
.icon-keyboard_backspace:before {
  content: "\e9b7";
}
.icon-keyboard:before {
  content: "\e9b8";
}
.icon-group:before {
  content: "\e9b9";
}
.icon-close:before {
  content: "\e9ba";
}
.icon-chevron_right:before {
  content: "\e9bb";
}
.icon-camera_alt:before {
  content: "\e9bc";
}
.icon-arrow_upward:before {
  content: "\e9bd";
}
.icon-arrow_right:before {
  content: "\e9be";
}
.icon-arrow_left:before {
  content: "\e9bf";
}
.icon-arrow_forward_ios:before {
  content: "\e9c0";
}
.icon-arrow_drop_down:before {
  content: "\e9c1";
}
.icon-arrow_downward:before {
  content: "\e9c2";
}
.icon-star_border:before {
  content: "\e9c3";
}
.icon-star:before {
  content: "\e9c4";
}
.icon-sentiment_very_satisfied:before {
  content: "\e9c5";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e9c6";
}
.icon-sentiment_satisfied:before {
  content: "\e9c7";
}
.icon-sentiment_dissatisfied:before {
  content: "\e9c8";
}
.icon-notifications_paused:before {
  content: "\e9c9";
}
.icon-notifications_off:before {
  content: "\e9ca";
}
.icon-notifications_none:before {
  content: "\e9cb";
}
.icon-more_vert:before {
  content: "\e9cc";
}
.icon-more_horiz:before {
  content: "\e9cd";
}
.icon-menu:before {
  content: "\e9ce";
}
.icon-expand_more:before {
  content: "\e9cf";
}
.icon-expand_less:before {
  content: "\e9d0";
}
.icon-arrow_forward:before {
  content: "\e9d1";
}
.icon-arrow_drop_up:before {
  content: "\e9d2";
}
.icon-arrow_drop_down_circle:before {
  content: "\e9d3";
}
.icon-toggle_on:before {
  content: "\e9d4";
}
.icon-toggle_off:before {
  content: "\e9d5";
}
.icon-star_half:before {
  content: "\e9d6";
}
