@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qlh5w7');
  src:  url('fonts/icomoon.eot?qlh5w7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qlh5w7') format('truetype'),
    url('fonts/icomoon.woff?qlh5w7') format('woff'),
    url('fonts/icomoon.svg?qlh5w7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseline-zoom_out:before {
  content: "\e900";
}
.icon-baseline-zoom_in:before {
  content: "\e901";
}
.icon-baseline-today:before {
  content: "\e902";
}
.icon-baseline-assessment:before {
  content: "\e903";
}
.icon-baseline-aspect_ratio:before {
  content: "\e904";
}
.icon-baseline-alarm_on:before {
  content: "\e905";
}
.icon-baseline-alarm_off:before {
  content: "\e906";
}
.icon-baseline-watch_later:before {
  content: "\e907";
}
.icon-baseline-touch_app:before {
  content: "\e908";
}
.icon-baseline-exit_to_app:before {
  content: "\e909";
}
.icon-baseline-event_seat:before {
  content: "\e90a";
}
.icon-baseline-event:before {
  content: "\e90b";
}
.icon-baseline-description:before {
  content: "\e90c";
}
.icon-baseline-delete_outline:before {
  content: "\e90d";
}
.icon-baseline-delete:before {
  content: "\e90e";
}
.icon-baseline-credit_card:before {
  content: "\e90f";
}
.icon-baseline-copyright:before {
  content: "\e910";
}
.icon-baseline-commute:before {
  content: "\e911";
}
.icon-baseline-code:before {
  content: "\e912";
}
.icon-baseline-check_circle_outline:before {
  content: "\e913";
}
.icon-baseline-check_circle:before {
  content: "\e914";
}
.icon-baseline-card_giftcard:before {
  content: "\e915";
}
.icon-baseline-calendar_today:before {
  content: "\e916";
}
.icon-baseline-build:before {
  content: "\e917";
}
.icon-baseline-alarm_add:before {
  content: "\e918";
}
.icon-baseline-alarm:before {
  content: "\e919";
}
.icon-baseline-account_circle:before {
  content: "\e91a";
}
.icon-baseline-account_box:before {
  content: "\e91b";
}
.icon-baseline-account_balance_wallet:before {
  content: "\e91c";
}
.icon-baseline-view_carousel:before {
  content: "\e91d";
}
.icon-baseline-update:before {
  content: "\e91e";
}
.icon-baseline-query_builder:before {
  content: "\e91f";
}
.icon-baseline-print:before {
  content: "\e920";
}
.icon-baseline-perm_identity:before {
  content: "\e921";
}
.icon-baseline-perm_contact_calendar:before {
  content: "\e922";
}
.icon-baseline-info:before {
  content: "\e923";
}
.icon-baseline-home:before {
  content: "\e924";
}
.icon-baseline-history-1:before {
  content: "\e925";
}
.icon-baseline-highlight_off:before {
  content: "\e926";
}
.icon-baseline-help_outline:before {
  content: "\e927";
}
.icon-baseline-help:before {
  content: "\e928";
}
.icon-baseline-get_app:before {
  content: "\e929";
}
.icon-baseline-fingerprint:before {
  content: "\e92a";
}
.icon-baseline-favorite_border:before {
  content: "\e92b";
}
.icon-baseline-favorite:before {
  content: "\e92c";
}
.icon-baseline-bookmark_border:before {
  content: "\e92d";
}
.icon-baseline-bookmarks:before {
  content: "\e92e";
}
.icon-baseline-bookmark:before {
  content: "\e92f";
}
.icon-baseline-backup:before {
  content: "\e930";
}
.icon-baseline-autorenew:before {
  content: "\e931";
}
.icon-baseline-assignment_ind:before {
  content: "\e932";
}
.icon-baseline-assignment:before {
  content: "\e933";
}
.icon-baseline-work_outline:before {
  content: "\e934";
}
.icon-baseline-verified_user:before {
  content: "\e935";
}
.icon-baseline-theaters:before {
  content: "\e936";
}
.icon-baseline-supervisor_account:before {
  content: "\e937";
}
.icon-baseline-supervised_user_circle:before {
  content: "\e938";
}
.icon-baseline-shopping_cart:before {
  content: "\e939";
}
.icon-baseline-settings_ethernet:before {
  content: "\e93a";
}
.icon-baseline-settings_applications:before {
  content: "\e93b";
}
.icon-baseline-setting:before {
  content: "\e93c";
}
.icon-baseline-search:before {
  content: "\e93d";
}
.icon-baseline-restore:before {
  content: "\e93e";
}
.icon-baseline-report_problem:before {
  content: "\e93f";
}
.icon-baseline-question_answer:before {
  content: "\e940";
}
.icon-baseline-offline_pin:before {
  content: "\e941";
}
.icon-baseline-note_add:before {
  content: "\e942";
}
.icon-baseline-loyalty:before {
  content: "\e943";
}
.icon-baseline-lock_open:before {
  content: "\e944";
}
.icon-baseline-lock:before {
  content: "\e945";
}
.icon-baseline-language:before {
  content: "\e946";
}
.icon-baseline-hourglass_full:before {
  content: "\e947";
}
.icon-baseline-hourglass_empty:before {
  content: "\e948";
}
.icon-baseline-dashboard:before {
  content: "\e949";
}
.icon-baseline-zoom_out_map:before {
  content: "\e94a";
}
.icon-baseline-work_off:before {
  content: "\e94b";
}
.icon-baseline-work:before {
  content: "\e94c";
}
.icon-baseline-visibility_off:before {
  content: "\e94d";
}
.icon-baseline-visibility:before {
  content: "\e94e";
}
.icon-baseline-thumb_up:before {
  content: "\e94f";
}
.icon-baseline-thumb_down:before {
  content: "\e950";
}
.icon-baseline-stay_current_landscape:before {
  content: "\e951";
}
.icon-baseline-share:before {
  content: "\e952";
}
.icon-baseline-remove_circle:before {
  content: "\e953";
}
.icon-baseline-playlist_add:before {
  content: "\e954";
}
.icon-baseline-headset:before {
  content: "\e955";
}
.icon-baseline-check_box:before {
  content: "\e956";
}
.icon-baseline-cancel:before {
  content: "\e957";
}
.icon-baseline-call:before {
  content: "\e958";
}
.icon-baseline-cake:before {
  content: "\e959";
}
.icon-baseline-bluetooth:before {
  content: "\e95a";
}
.icon-baseline-attachment:before {
  content: "\e95b";
}
.icon-baseline-apps:before {
  content: "\e95c";
}
.icon-baseline-add_a_photo:before {
  content: "\e95d";
}
.icon-baseline-add:before {
  content: "\e95e";
}
.icon-baseline-warning:before {
  content: "\e95f";
}
.icon-baseline-thumb_down_alt:before {
  content: "\e960";
}
.icon-baseline-stay_current_portrait:before {
  content: "\e961";
}
.icon-baseline-remove_circle_outline:before {
  content: "\e962";
}
.icon-baseline-playlist_add_check:before {
  content: "\e963";
}
.icon-baseline-place:before {
  content: "\e964";
}
.icon-baseline-mood:before {
  content: "\e965";
}
.icon-baseline-loop:before {
  content: "\e966";
}
.icon-baseline-headset_mic:before {
  content: "\e967";
}
.icon-baseline-error:before {
  content: "\e968";
}
.icon-baseline-equalizer:before {
  content: "\e969";
}
.icon-baseline-cloud:before {
  content: "\e96a";
}
.icon-baseline-check_box_outline_blank:before {
  content: "\e96b";
}
.icon-baseline-check:before {
  content: "\e96c";
}
.icon-baseline-call_end:before {
  content: "\e96d";
}
.icon-baseline-bluetooth_connected:before {
  content: "\e96e";
}
.icon-baseline-arrow_back:before {
  content: "\e96f";
}
.icon-baseline-add_photo_alternate:before {
  content: "\e970";
}
.icon-baseline-add_box:before {
  content: "\e971";
}
.icon-baseline-add_alert:before {
  content: "\e972";
}
.icon-baseline-vpn_key:before {
  content: "\e973";
}
.icon-baseline-volume_up:before {
  content: "\e974";
}
.icon-baseline-volume_off:before {
  content: "\e975";
}
.icon-baseline-volume_mute:before {
  content: "\e976";
}
.icon-baseline-volume_down:before {
  content: "\e977";
}
.icon-baseline-textsms:before {
  content: "\e978";
}
.icon-baseline-sort_by_alpha:before {
  content: "\e979";
}
.icon-baseline-play_circle_outline:before {
  content: "\e97a";
}
.icon-baseline-play_circle_filled:before {
  content: "\e97b";
}
.icon-baseline-play_arrow:before {
  content: "\e97c";
}
.icon-baseline-playlist_play:before {
  content: "\e97d";
}
.icon-baseline-pause_circle_outline:before {
  content: "\e97e";
}
.icon-baseline-not_interested:before {
  content: "\e97f";
}
.icon-baseline-notification_important:before {
  content: "\e980";
}
.icon-baseline-note:before {
  content: "\e981";
}
.icon-baseline-mic_off:before {
  content: "\e982";
}
.icon-baseline-mic_none:before {
  content: "\e983";
}
.icon-baseline-mic:before {
  content: "\e984";
}
.icon-baseline-mail_outline:before {
  content: "\e985";
}
.icon-baseline-location_on:before {
  content: "\e986";
}
.icon-baseline-error_outline:before {
  content: "\e987";
}
.icon-baseline-where_to_vote:before {
  content: "\e988";
}
.icon-baseline-send:before {
  content: "\e989";
}
.icon-baseline-outlined_flag:before {
  content: "\e98a";
}
.icon-baseline-mail:before {
  content: "\e98b";
}
.icon-baseline-location_off:before {
  content: "\e98c";
}
.icon-baseline-link_off:before {
  content: "\e98d";
}
.icon-baseline-link:before {
  content: "\e98e";
}
.icon-baseline-import_contacts:before {
  content: "\e98f";
}
.icon-baseline-gps_off:before {
  content: "\e990";
}
.icon-baseline-forum:before {
  content: "\e991";
}
.icon-baseline-email:before {
  content: "\e992";
}
.icon-baseline-drafts:before {
  content: "\e993";
}
.icon-baseline-dialpad:before {
  content: "\e994";
}
.icon-baseline-delete_sweep:before {
  content: "\e995";
}
.icon-baseline-create:before {
  content: "\e996";
}
.icon-baseline-chat_bubble:before {
  content: "\e997";
}
.icon-baseline-chat:before {
  content: "\e998";
}
.icon-baseline-block:before {
  content: "\e999";
}
.icon-baseline-add_circle_outline:before {
  content: "\e99a";
}
.icon-baseline-add_circle:before {
  content: "\e99b";
}
.icon-baseline-thumb_up_alt:before {
  content: "\e99c";
}
.icon-baseline-mood_bad:before {
  content: "\e99d";
}
.icon-baseline-indeterminate_check_box:before {
  content: "\e99e";
}
.icon-baseline-gps_not_fixed:before {
  content: "\e99f";
}
.icon-baseline-gps_fixed:before {
  content: "\e9a0";
}
.icon-baseline-cloud_upload:before {
  content: "\e9a1";
}
.icon-baseline-cloud_queue:before {
  content: "\e9a2";
}
.icon-baseline-cloud_off:before {
  content: "\e9a3";
}
.icon-baseline-cloud_download:before {
  content: "\e9a4";
}
.icon-baseline-cloud_done:before {
  content: "\e9a5";
}
.icon-baseline-cloud_circle:before {
  content: "\e9a6";
}
.icon-baseline-chevron_left:before {
  content: "\e9a7";
}
.icon-baseline-bluetooth_searching:before {
  content: "\e9a8";
}
.icon-baseline-bluetooth_disabled:before {
  content: "\e9a9";
}
.icon-baseline-watch:before {
  content: "\e9aa";
}
.icon-baseline-tv:before {
  content: "\e9ab";
}
.icon-baseline-tablet_android:before {
  content: "\e9ac";
}
.icon-baseline-tablet:before {
  content: "\e9ad";
}
.icon-baseline-smartphone:before {
  content: "\e9ae";
}
.icon-baseline-keyboard_voice:before {
  content: "\e9af";
}
.icon-baseline-crop_rotate:before {
  content: "\e9b0";
}
.icon-baseline-arrow_backward_ios:before {
  content: "\e9b1";
}
.icon-baseline-radio_button_unchecked:before {
  content: "\e9b2";
}
.icon-baseline-radio_button_checked:before {
  content: "\e9b3";
}
.icon-baseline-ondemand_video:before {
  content: "\e9b4";
}
.icon-baseline-notifications_active:before {
  content: "\e9b5";
}
.icon-baseline-notifications:before {
  content: "\e9b6";
}
.icon-baseline-keyboard_backspace:before {
  content: "\e9b7";
}
.icon-baseline-keyboard:before {
  content: "\e9b8";
}
.icon-baseline-group:before {
  content: "\e9b9";
}
.icon-baseline-close:before {
  content: "\e9ba";
}
.icon-baseline-chevron_right:before {
  content: "\e9bb";
}
.icon-baseline-camera_alt:before {
  content: "\e9bc";
}
.icon-baseline-arrow_upward:before {
  content: "\e9bd";
}
.icon-baseline-arrow_right:before {
  content: "\e9be";
}
.icon-baseline-arrow_left:before {
  content: "\e9bf";
}
.icon-baseline-arrow_forward_ios:before {
  content: "\e9c0";
}
.icon-baseline-arrow_drop_down:before {
  content: "\e9c1";
}
.icon-baseline-arrow_downward:before {
  content: "\e9c2";
}
.icon-baseline-star_border:before {
  content: "\e9c3";
}
.icon-baseline-star:before {
  content: "\e9c4";
}
.icon-baseline-sentiment_very_satisfied:before {
  content: "\e9c5";
}
.icon-baseline-sentiment_very_dissatisfied:before {
  content: "\e9c6";
}
.icon-baseline-sentiment_satisfied:before {
  content: "\e9c7";
}
.icon-baseline-sentiment_dissatisfied:before {
  content: "\e9c8";
}
.icon-baseline-notifications_paused:before {
  content: "\e9c9";
}
.icon-baseline-notifications_off:before {
  content: "\e9ca";
}
.icon-baseline-notifications_none:before {
  content: "\e9cb";
}
.icon-baseline-more_vert:before {
  content: "\e9cc";
}
.icon-baseline-more_horiz:before {
  content: "\e9cd";
}
.icon-baseline-menu:before {
  content: "\e9ce";
}
.icon-baseline-expand_more:before {
  content: "\e9cf";
}
.icon-baseline-expand_less:before {
  content: "\e9d0";
}
.icon-baseline-arrow_forward:before {
  content: "\e9d1";
}
.icon-baseline-arrow_drop_up:before {
  content: "\e9d2";
}
.icon-baseline-arrow_drop_down_circle:before {
  content: "\e9d3";
}
.icon-baseline-toggle_on:before {
  content: "\e9d4";
}
.icon-baseline-toggle_off:before {
  content: "\e9d5";
}
.icon-baseline-star_half:before {
  content: "\e9d6";
}
